body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #000;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.banner {
  height: 100vh;
  position: relative;
  background-image: url("../img/gym.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.banner-content {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  text-transform: uppercase;
}

.tag {
  letter-spacing: 4px;
}

.title {
  font-size: 4rem;
  color: orange;
  margin: 0;
  font-family: 'Notable', sans-serif;
}

.color {
  color: orange;
}

.city {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.quotes {
  padding: 100px 0;
  background-color: orange;
  text-align: center;
  font-style: italic;
}

.fas,
.fab {
  font-size: 24px;
  padding: 10px;
}

.machine .thumbnail {
  position: relative;
  margin: 30px;
  height: 500px;
}

.machine .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 20px 0;
  font-size: 24px;
  color: orange;
  text-align: center;
  font-family: 'Notable', sans-serif;
}

.time {
  padding: 50px 0;
  background-image: url("../img/c.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  padding: 50px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form input {
  border: 0;
  background: transparent;
  outline: none;
  border-bottom: 2px solid orange;
  margin: 40px;
}

.submit {
  background: transparent;
  border: 1px solid #fff;
  color: orange;
  padding: 5px 40px;
}

.footer ul {
  margin: 20px 0;
}

ul li {
  list-style: none;
  font-size: 14px;
  color: Orange;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10px;
  color: orange;
  margin-top: 40px;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social .fab {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 0;
  color: #fff;
  font-size: 20px;
}

.map {
  height: 400px;
}

.footer {
  padding: 40px 20px 5px 20px;
}

.cards .thumbnail {
  padding: 20px;
}

.cards .fas,
.cards .far {
  font-size: 40px;
  padding: 5px 0;
}

.cards .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  flex-direction: column;
  background-color: orange;
  font-family: 'Poiret One',
  sans-serif;
  text-align: center;
}

.cards .caption {
  background-color: white;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .banner {
    background-position-x: -600px;
  }
  .footer ul {
    margin: 0;
    padding: 20px 0;
  }
  .machine .thumbnail {
    margin: 15px 0;
  }
}