body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #000;
  color: #000;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

a:hover {
  transition: all .9s ease-in-out;
  text-decoration: none;
  color: #05025b;
}

.rotate-left {
  transform: rotate(-5deg);
}

.rotate-right {
  transform: rotate(15deg);
}

.banner {
  height: 100vh;
  position: relative;
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/banner.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}

.banner-content {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  text-transform: uppercase;
}

.tag {
  letter-spacing: 4px;
}

.title {
  font-size: 6rem;
  color: orange;
  margin: 0;
  font-family: 'Notable', sans-serif;
}

.color {
  color: orange;
}

.city {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: 20px;
}

.quote .content {
  padding: 80px 45px;
  background-color: orange;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-size: 18px;
  color: #05025b;
}

.quote h4 {
  padding: 20px 0;
}

.author {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  font-style: normal;
}

.about {
  color: #fff;
  font-size: 20px;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
}

.shaped {
  height: 100vh;
  width: 40vw;
  float: right;
  background: black url('../img/man.jpg') center top no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-margin: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-image-threshold: 0.5;
}

.about-content {
  padding: 40px 0;
}

.about h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 50px;
}

.whyus li {
  font-size: 20px;
  padding: 20px 0;
  font-style: italic;
}

.fas,
.fab {
  font-size: 40px;
  padding: 10px;
  color: #fff;
}

.machine {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  padding: 20px 0;
}

.machine .thumbnail {
  position: relative;
  margin: 50px 100px;
  height: 600px;
  overflow: hidden;
  border: 2px solid transparent;
  border-image: linear-gradient(rgb(141, 96, 38), transparent)1 100%;
}

.machine .caption {
  position: absolute;
  transform: skewX(-10deg);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 30%;
  padding: 5px 10px;
  font-size: 18px;
  background-color: rgba(185, 61, 13, 0.5);
  text-align: center;
  text-shadow: 0 0 20px #fff;
  font-family: 'Notable', sans-serif;
}

.machine .caption h1 {
  margin-top: 50%;
  letter-spacing: 2px;
}

.time {
  padding: 150px 0;
}

.time:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../img/gym-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cards .thumbnail {
  padding: 20px;
}

.cards .fas,
.cards .far {
  font-size: 40px;
  color: #000;
  padding: 5px 0;
}

.cards h1 {
  font-size: 30px;
}

.cards .fa-heart {
  color: red;
}

.cards .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  flex-direction: column;
  background-color: orange;
  font-family: 'Poiret One', sans-serif;
  text-align: center;
  height: 150px;
}

.cards .caption {
  background-color: white;
  padding: 40px;
  text-align: center;
}

.row {
  justify-content: center;
}

.contact {
  padding: 150px 0;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form input {
  border: 0;
  background: transparent;
  outline: none;
  border-bottom: 2px solid orange;
  margin: 40px;
  color: #fff;
}

.submit {
  background: transparent;
  border: 1px solid #fff;
  color: orange;
  padding: 5px 40px;
}

.footer ul {
  margin: 20px 0;
  text-align: right;
}

.footer ul li {
  list-style: none;
  font-size: 24px;
  color: Orange;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
  color: #fff;
  background-color: #a90000;
  padding: 5px 30px;
  margin-top: 100px;
}

.open {
  color: #999;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.open h6 {
  margin: 10px 0;
  color: red;
}

.open p {
  font-size: 12px;
  line-height: 4px;
  color: #666;
  padding: 8px 0;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social .fab {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 0;
  color: #fff;
  font-size: 20px;
}

.map {
  height: 80vh;
}

.footer {
  padding: 40px 20px 5px 20px;
}

@media screen and (max-width: 768px) {
  .banner {
    background-position: center;
  }
  .banner-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    font-size: 4rem;
  }
  .footer ul {
    margin: 0;
    padding: 20px 0;
    text-align: left;
  }
  .machine {
    padding: 20px 0;
  }
  .machine .thumbnail {
    height: auto;
    margin: 20px 0;
  }
  .rotate-left,
  .rotate-right {
    transform: rotate(0deg);
  }
  .machine .caption h1 {
    font-size: 30px;
    margin: 0;
  }
  .machine .caption {
    position: unset;
    transform: skewX(0deg);
    width: 100%;
    padding: 5px;
  }
  .about {
    font-size: 16px;
  }
  .about li {
    font-size: 14px;
    padding: 3px;
  }
  .shaped {
    display: none;
  }
}